/* ======================================================================== 
   Header - Cores e Estilos Básicos
======================================================================== */
header,
header.complete,
header.minimal {
    background-color: #000000 !important;
}

header,
header a,
header.minimal h1,
header.minimal .back-icon a,
header .shortcuts .nav-item a {
    color: #fff !important;
}

header.header-156848294 .search-wrap .input-group input,
header.header-156848294 .search-wrap .input-group button {
    color: #000000 !important;
}

/* ========================================================================
   Section Header & Navegação Mobile
======================================================================== */
.section-header,
.nav-mobile .line-1,
.nav-mobile .line-2 {
    background-color: #000000 !important;
}

.section-header,
.section-header a,
.nav-mobile .line-1,
.nav-mobile .line-1 a,
.nav-mobile .line-1 i {
    color: #070707 !important;
}

/* ========================================================================
   Category List & Shortcuts Mobile Area
======================================================================== */
.category-list,
.shortcuts-mobile-area {
    background-color: #000000 !important;
}

.category-list .item a,
.shortcuts-mobile-area,
.shortcuts-mobile-area a {
    color: #ffffff !important;
}

/* ========================================================================
   Footer & Direitos
======================================================================== */

footer {
    display: block;
}

@media only screen and (max-width: 768px) {
    footer {
        display: none !important;
    }
}

footer,
.direitos {
    background-color: #061625;
}

footer,
footer a,
footer a:hover,
.direitos,
.direitos a,
.direitos a:hover {
    color: #fff !important;
}

/* ========================================================================
   Section Footer & Subscribe
======================================================================== */
.section-footer,
.section-subscribe {
    background-color: #525960;
}

.section-footer,
.section-subscribe,
.section-footer a,
.section-subscribe a {
    color: #fff !important;
}

/* ========================================================================
   Loading e Cookie Alert
======================================================================== */
.loading {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    position: fixed;
    z-index: 9999;
    color: #fff;
    text-shadow: 0 0 30px #ebebeb;
    padding-top: 200px;
}

.cookiealert-area {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    bottom: 15px;
    z-index: 9999;
    max-width: 900px;
}

@media (max-width: 990px) {
    .cookiealert-area {
        width: 85%;
    }
}

/* ========================================================================
   Header Minimal
======================================================================== */
header.minimal {
    background: #fafafa;
}

header.minimal .back-icon a {
    padding-right: 20px;
    font-size: 24px;
}

header.minimal h1 {
    font-size: 16px;
    color: #fffefe;
}

header.minimal .cart-icon {
    min-width: 30px;
}

/* ========================================================================
   Logo no Header
======================================================================== */
header .logo a {
    position: relative;
    display: block;
    overflow: hidden;
    width: 30px;
    height: 30px;
    border: 1px solid #eee;
    border-radius: 100px;
}

header .logo a img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* ========================================================================
   Header Completo
======================================================================== */
header.complete .header-text .header-title {
    font-size: 19px;
    font-weight: 500px;
    line-height: 1.2;
    margin-bottom: .5em;
}

header.complete .shortcuts {
    text-align: right;
}

header.complete .shortcuts a {
    display: flex;
    font-size: 24px;
    position: relative;
    border-radius: 4px;
    height: 38px;
    padding: 0;
    width: 38px;
    margin-left: 7px;
    justify-content: center;
    align-items: center;
}

header.complete .shortcuts a,
header.complete .search-wrap .input-group input,
header.complete .search-wrap .input-group button {
    color: #fffefe;
    background: rgba(255, 255, 255, 0.4);
}

header.complete .shortcuts .cart-counter {
    font-size: 17px;
    top: -10px;
    right: -0;
}

/* ========================================================================
   Ajustes de Header Minimal e Responsividade
======================================================================== */
header.minimal .logo a {
    width: 40px;
    height: 40px;
}

.shortcuts a {
    padding: 0px 0px;
    font-size: 25px;
    color: #eeeeee;
}

@media (min-width: 991px) {
    header.minimal {
        display: none;
    }
}

@media (max-width: 830px) {
    body.home header.minimal {
        display: none;
    }

    body.internal header.complete {
        display: none;
    }

    header .logo a {
        margin: 0 auto;
        width: 50px;
        height: 60px;
    }

    header.complete .shortcuts {
        display: none;
    }
}

/* ========================================================================
   Menu Principal & Sidebar Category
======================================================================== */
.menu-principal>li>a .image,
.sidebar-category .navbar-nav li a .image {
    width: 30px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin-right: 5px;
}

.menu-principal>li>a .image img,
.sidebar-category .navbar-nav li a .image img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ========================================================================
   Dropdown no Menu Principal (Responsividade)
======================================================================== */
@media (min-width: 991px) {
    .nav-principal .dropdown:hover>.dropdown-menu {
        display: block;
    }
}

@media (max-width: 991px) {
    .nav-principal {
        display: none;
    }
}

/* ========================================================================
   Offcanvas (Menu Lateral)
======================================================================== */
.offcanvas-collapse {
    position: fixed;
    top: 0;
    z-index: 10;
    bottom: 0;
    width: 75%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #000000;
    box-shadow: 3px 0 25px #cacbce;
    right: -100%;
    transition-property: right, visibility;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
}

.offcanvas-collapse.open {
    right: 0;
    visibility: visible;
}

.offcanvas-collapse.left {
    left: -100%;
    transition-property: left, visibility;
    right: unset;
}

.offcanvas-collapse.left.open {
    left: 0;
    right: unset;
}

.offcanvas-collapse {
    border-radius: 40px;
    top: 10px;
    bottom: 10px;
}

.offcanvas-collapse.open {
    right: 0px;
}

.offcanvas-collapse.left.open {
    left: 0px;
}

.offcanvas-bg-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    opacity: .5;
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
}

/* ========================================================================
   Sidebar & Dropdown da Sidebar
======================================================================== */

.sidebar .nav-link {
    color: #ffffff;
    font-size: 18px;
    display: block;
    position: relative;
}

.sidebar .dropdown-menu {
    position: static !important;
    transform: none !important;
}

.sidebar .dropdown-toggle::after {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 19px;
}

.sidebar-header {
    position: relative;
}

.sidebar-header .close-button {
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 0;
    font-size: 20px;
    background: #fff;
    border-radius: 30px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.sidebar-header h4 {
    margin-top: 1px;
}

@media (max-width: 991px) {}

/* ========================================================================
   Slide Show Dots
======================================================================== */
.slide-show .owl-dots {
    bottom: 5px;
    position: absolute;
    left: 0;
    right: 0;
}

/* ========================================================================
   Nav Container - Barra de Navegação
======================================================================== */
.nav-container {
    width: 100%;
    background: #141414;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo ou título do site */
.logo {
    color: #e4e4e4;
    font-size: 10px;
    font-weight: bold;
    margin-left: 10px;
}

/* ========================================================================
   Itens à Direita & Grupo de Botões
======================================================================== */
.right-items {
    display: flex;
    gap: 0px;
    align-items: center;
}

.btn-group {
    display: flex;
    gap: 0px;
    align-items: center;
}

/* ========================================================================
   Dropdown na Nav Container
======================================================================== */
/* Efeito hover azul para todos os botões com a classe "dropdown-btn" */
.dropdown-btn:hover {
    background-color: #141414 !important;
    /* azul */
    color: #fff !important;
    /* texto branco */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button {
    padding: 08px 08px;
    font-size: 15px;
    border: none;
    border-radius: 04px;
    background: transparent;
    color: #e4e4e4;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(212, 212, 212, 0.15);
    z-index: 1;
    min-width: 160px;
}

.dropdown-menu a {
    display: block;
    padding: 06px 06px;
    color: #000000;
    text-decoration: none;
    font-size: 15px;
}

.dropdown-menu a:hover {
    background-color: #cfcccc;
}

/* Exibe o dropdown ao passar o mouse sobre o container */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* ========================================================================
   Responsividade da Nav Container
======================================================================== */
@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .right-items {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .btn-group {
        flex-direction: column;
        gap: 5px;
        width: 100%;
    }

    .dropdown {
        width: 100%;
    }

    .dropdown button {
        width: 100%;
        text-align: left;
    }

    .logout {
        width: 100%;
        text-align: left;
        margin-left: 10px;
    }
}

/* ========================================================================
   Logo Icon & Header Text
======================================================================== */
.logo-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
}

.logo-text {
    font-size: 18px;
    font-weight: bold;
    color: #e4e4e6;
    /* Azul para o texto */
}

.header-text {
    padding-left: 18px;
    /* Espaçamento da borda esquerda */
}

.header-title {
    display: flex;
    align-items: center;
}

.contact-icon {
    margin: 0 15px;
    /* Espaçamento entre os ícones */
}

.icon {
    width: 24px;
    height: 24px;
}

.header-name {
    font-size: 24px;
    font-weight: bold;
    color: #0000FF;
    /* Azul */
}

.logout {
    margin-right: 20px;
    /* Ajuste o valor conforme necessário */
}

/* ========================================================================
   Botões e Interações
======================================================================== */
.fab {
    transition: transform 0.3s ease, color 0.3s ease;
}

.fab:hover {
    transform: scale(1.1);
    /* Aumenta 30% */
    color: #003cff;
    /* Altere para a cor desejada, por exemplo, vermelho */
}

/* Força os botões com a classe .dropdown-btn a terem texto branco */
.btn.btn-link.dropdown-btn {
    color: #ebebeb !important;
}

/* Define o texto como branco, sem sublinhado e sem efeito de hover */
.btn-group .dropdown .dropdown-btn {
    color: #ebebeb !important;
    text-decoration: none !important;
    border-bottom: none !important;
}

.btn-group .dropdown .dropdown-btn:hover,
.btn-group .dropdown .dropdown-btn:focus,
.btn-group .dropdown .dropdown-btn:active {
    color: #ebebeb !important;
    text-decoration: none !important;
    border-bottom: none !important;
    background: none;
}

.login-trigger,
.login-trigger:hover,
.login-trigger:focus,
.login-trigger:active {
    color: #ebebeb !important;
    background: transparent !important;
    border-color: blue !important;
    box-shadow: none !important;
}

/* ========================================================================
   Botão de Login
======================================================================== */
.login-btn {
    background-color: #0069d9;
    color: #fff;
    border: none;
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 50px auto;
    display: inline-block;
}

.icon-login {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 8px;
}

/* ========================================================================
   Modal de Login
======================================================================== */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 14% auto;
    max-width: 390px;
    border-radius: 20px;
    overflow: hidden;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 30%;
}

/* Cabeçalho customizado com título à esquerda e X à direita */
.modal-header-custom {
    background-color: #078fff;
    color: #fff;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #fffefe;
}

.modal-header-custom h2 {
    margin: 0;
    font-size: 17px;
}

.modal-header-custom .close {
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

/* ========================================================================
   Input Group e Mensagens de Erro
======================================================================== */
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 05px;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
}

.input-group i {
    background-color: #ffffff;
    padding: 09px;
    font-size: 13px;
    color: #000000;
    border-right: 1px solid #bdbdbd;
    /* Linha divisória */
}

.input-group input {
    border: none;
    flex: 2;
    padding: 06px;
    font-size: 13px;
}

.input-group input:focus {
    outline: none;
}

.error {
    color: red;
    display: none;
    font-size: 0.9rem;
    margin-top: 10px;
}

/* ========================================================================
   Botão de Submissão e Espaçamento do Modal
======================================================================== */
.submit-btn {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #000000;
}

.modal-body {
    padding: 40px;
}

/* =========================================================================
     Estilos customizados para Wrapper e Slide Show 
 ========================================================================*/
@media (min-width: 992px) {

    .wrapper .container,
    .wrapper .box-meio,
    .slide-show,
    .slide-show-carousel .item img {
        width: 100%;
        max-width: 100vw;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 991.98px) {

    .wrapper .container,
    .wrapper .box-meio,
    .slide-show,
    .slide-show-carousel .item img {
        width: auto;
        max-width: 100%;
    }
}

/* Estilos do Chat */
.whatsapp-name {
    font-size: 10px;
    font-weight: 400;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 0.5;
}

#whatsapp-chat {
    box-sizing: border-box !important;
    outline: none !important;
    position: fixed;
    width: 340px;
    border-radius: 20px;
    box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
    bottom: 50px;
    right: 20px;
    overflow: hidden;
    z-index: 90;
    animation-name: showchat;
    animation-duration: 1s;
    transform: scale(1);
}

a.blantershow-chat {
    background: linear-gradient(90deg, rgba(9, 94, 84, 1) 0%, rgba(37, 211, 102, 1) 100%);
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 100px;
    box-shadow: 0 1px 10px rgba(32, 33, 36, 0.28);
    position: fixed;
    bottom: 06px;
    right: 09px;
    z-index: 50;
}

a.blantershow-chat:hover {
    background-color: #fff;
    /* Mantém branco */
    color: #000;
}

a.blantershow-chat svg {
    transform: scale(1.2);
    margin: 0 04px 0 0;
}

.header-chat {
    background: #045c52;
    color: #fff;
    padding: 20px;
}

.header-chat h3 {
    margin: 0 0 20px;
}

.header-chat p {
    font-size: 13px;
    line-height: 1.6;
    margin: 0;
}

.info-avatar {
    position: relative;
}

.info-avatar img {
    border-radius: 100%;
    width: 50px;
    float: left;
    margin: 0 10px 0 0;
}

.chat-buttons {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    padding: 08px;
}

.chat-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49%;
    padding: 06px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    text-align: center;
    color: #444;
    font-size: 16px;
    text-decoration: none;
    margin-right: 10px;
}

.chat-buttons a:last-child {
    margin-right: 0;
}

chat-buttons i {
    margin-right: 8px;
}

.chat-buttons .whatsapp {
    background-color: #25D366;
    color: white;
}

.chat-buttons .telegram {
    background-color: #0088cc;
    color: white;
}

@keyframes showhide {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
}

@keyframes showchat {
    from {
        transform: scale(0);
        opacity: 0;
    }
}

@media screen and (max-width: 480px) {
    #whatsapp-chat {
        width: auto;
        left: 5%;
        right: 5%;
        font-size: 80%;
    }
}

.hide {
    display: none;
    animation-name: showhide;
    animation-duration: 0.5s;
    transform: scale(1);
    opacity: 1;
}

.show {
    display: block;
    animation-name: showhide;
    animation-duration: 0.5s;
    transform: scale(1);
    opacity: 1;
}

/* Outros estilos opcionais omitidos para clareza */

.creditos {
    position: fixed;
    bottom: 34px;
    /* Distância de 20px da borda inferior */
    left: 09px;
    /* Distância de 20px da borda esquerda */
    font-size: 12px;
    color: rgba(255, 255, 255, 0.521);
    /* Cor branca com 01% de opacidade */
}


/* Estilos aplicados somente para os campos de e-mail e senha */
.login-container .form-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}

.login-container .form-group i {
    padding: 10px;
    background: #f5f5f5;
    border-right: 1px solid #ccc;
    font-size: 16px;
}

.login-container .form-group input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
}

/* Estilos do marquee e fundo */
.marquee {
    font-size: 24px;
    color: rgb(255, 251, 251);
    padding: 0.8px;
    border-radius: 0.8px;
}

/* Estilos para o menu principal: 
   Ajusta os itens para que fiquem alinhados lado a lado */
.nav-principal .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-principal .logo-container,
.nav-principal .right-items,
.nav-principal .dropdown {
    display: flex;
    align-items: center;
}

.nav-principal .right-items>* {
    margin-right: 15px;
}

.nav-principal .btn-group .dropdown {
    margin-right: 15px;
}

/* Linha divisória branca */
.linha-divisoria {
    width: 100%;
    height: 1px;
    /* Define a espessura da linha */
    background-color: #0059ff;
    /* Cor branca */
    margin: 20px 0;
    /* Espaçamento acima e abaixo da linha */
}

/* Define a cor de fundo para a div com a classe bg-gray */
.bg-gray {
    background-color: #d6d6d6;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Unbounded' !important;

}

.fonte-padrao,
.btn,
.fonte-menu,
.fonte-titulo {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

.fonte-menu {
    font-family: 'Unbounded';
}

.fonte-titulo,
.block-title {
    font-family: 'Unbounded';
}

/* Oculta o conteúdo apenas em dispositivos móveis (touch) */
@media (hover: none) and (pointer: coarse) {
    .bg-gray {
        display: none !important;
    }
}

/* Removendo margens e padding para deixar o conteúdo de ponta a ponta */
html,
.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Estilos adicionais */
.min-height {
    min-height: 80vh;
}

.header-bottom {
    background-color: #082e53;
    padding: 10px 0;
}

.bg-gray {
    background-color: #b9b9b9;
}

.page-title {
    font-weight: bold;
}

.breadcrumb li {
    display: inline;
    margin-right: 10px;
}

.card {
    box-shadow: 0 0 05px rgba(0, 0, 0, 0.1);
}

.progressbar {
    transition: width 0.5s ease-in-out;
}

.big-font {
    font-size: 2rem;
}

.text-muted1 {
    color: #000;
}

.themedefault {
    background-color: #062649;
    color: #fff;
}

.card-unpaid-balance {
    background-color: #ebecee;
    color: #052242;
}

.card-area-status {
    cursor: pointer;
}

.list-inline a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.list-inline a:hover {
    text-decoration: none;
}